# git ignore.
target
*.iml
*.class
.idea
.idea/
.idea/*
.metadata
*.classpath
*.settings
*.project
*.jar
*.war
*.swp
.settings
.project
.classpath
*.pyc
*.log
*.log.*
node_modules
.vscode
logs
/logs
logs/
logs/**
.DS_Store
project
project.zip
project.rar
project.7z
temp
temp/
temp/*